
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  background: url(https://i.ibb.co/LQx64XV/rachael-9-RAHI3-JRINk-unsplash.jpg);
  background-size: 40%;
  background-position-x: -200px;
}

#page-wrap {
  width: 900px;
  height: 350px;
  margin-left:0px;

  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
 padding-bottom: 50px;
}

h1 {

  font-family: 'Fascinate Inline', cursive;
  color: #312c52;
  font-size: 100px;
  opacity: 100%;
}


#img {
  width: 500px;
 
}

header, body, footer {



}

#alert {
  width: 970px;
  height: 450px;
  position: absolute;
  left: 290px;
   box-shadow: 20px 15px 15px 15px 65px rgb(225, 191, 238);
  background-color:rgb(8, 3, 46);
  filter: drop-shadow(-30px, 15px, 46px black);
}

